# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
import pandas as pd
import numpy as np
from pprint import pprint
import json
data = "world_bank_projects.json"
first_json = pd.read_json(data)
first_json.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [3]:
with open('world_bank_projects.json') as f:
    first_json = json.load(f)
# print(first_json)
type(first_json)

list

In [4]:
df = pd.json_normalize(first_json)
print(df.columns)

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'lendinginstr', 'countrycode', 'totalamt', 'mjtheme_namecode',
       'boardapprovaldate', 'countryshortname', 'prodlinetext',
       'productlinetype', 'regionname', 'status', 'country_namecode',
       'envassesmentcategorycode', 'approvalfy', 'projectdocs',
       'lendprojectcost', 'lendinginstrtype', 'grantamt', 'themecode',
       'borrower', 'sectorcode', 'majorsector_percent', 'board_approval_month',
       'theme_namecode', 'countryname', 'url', 'source',
       'projectstatusdisplay', 'ibrdcommamt', 'sector_namecode',
       'sector1.Percent', 'sector1.Name', 'sector2.Percent', 'sector2.Name',
       'sector4.Percent', 'sector4.Name', 'project_abstract.cdata',
       'theme1.Percent', 'theme1.Name', 'sector3.Percent', 'sector3.Name',
       '_id.$oid'],
      dtype='object')

In [5]:
# Number 1: top 10 countries with the most projects
df.groupby('countryshortname').agg(n_projects = ('countryshortname', 'count')).nlargest(10, 'n_projects')

                    n_projects
countryshortname
China                       19
Indonesia                   19
Vietnam                     17
India                       16
Yemen, Republic of          13
Bangladesh                  12
Morocco                     12
Nepal                       12
Africa                      11
Mozambique                  11

In [6]:
# 2. top 10 sectors with projects
df = pd.json_normalize(first_json,record_path='sector', meta=['id'])
df.groupby(by='Name').count().nlargest(10,'id', keep='all')

                                                     id
Name
Other social services                               106
Central government administration                    82
Sub-national government administration               75
General agriculture, fishing and forestry sector     65
Health                                               63
General public administration sector                 51
Rural and Inter-Urban Roads and Highways             44
General water, sanitation and flood protection ...   39
Agricultural extension and research                  38
General industry and trade sector                    36
Public administration- Agriculture, fishing and...   36

In [23]:
# 3. find top 10 major themes for projects
theme = pd.json_normalize(first_json, record_path='mjtheme_namecode')
theme.groupby('name').count().nlargest(10,'code',keep='all')

                                              code
name
Environment and natural resources management   223
Rural development                              202
Human development                              197
Public sector governance                       184
Social protection and risk management          158
Financial and private sector development       130
                                               122
Social dev/gender/inclusion                    119
Trade and integration                           72
Urban development                               47

In [42]:
# 4. fill #3 with missing name values
theme = (theme.replace({'name':{'':np.nan}})
          .sort_values(['code', 'name'])
          .fillna(method='ffill')
          .sort_index())
theme.groupby('name').count().nlargest(10,'code',keep='all')

                                              code
name
Environment and natural resources management   250
Rural development                              216
Human development                              210
Public sector governance                       199
Social protection and risk management          168
Financial and private sector development       146
Social dev/gender/inclusion                    130
Trade and integration                           77
Urban development                               50
Economic management                             38